{% extends 'ventas/layouts/cuadricula.html' %}
{% block title %} Inicio Bienvenidos {% endblock %}

{% block head %}
  <STYLE type="text/css">
  body
  {
    background-color: {{ color_fondo }};
  }
 </STYLE>
{% endblock %}
{% block content %}

  <div class="container">
			{% if productos %}
				{% for p in productos %}
        <div class="col-md-3 column productbox">
          <a  href="/producto/{{p.id}}/"><img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
          <div class="producttitle">{{p.nombre}}</div>
          </a>
          <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
        </div>
				{% endfor %}
			{% else %}
				<h2>No hay productos</h2>
			</table>
			{% endif %} 
</div>
{% endblock %}
