{% extends 'sitio.html' %}
{% block title %} Registro {% endblock %}

{% block content %}
{% if info_enviado %}
	<p>Gracias por enviar el coment luego nos leemos Yeaa.</p>

{% else %}
	{{ form.non_field_errors }}
	<p>Llena los siguientes datos para comensar tu cuenta de prueba</p>
<div class="container">
	<form class="form-horizontal" action="/registro/" method="post">
		{% csrf_token %}
		<div class="control-group" >
			<div class="controls">
				<input type="text" placeholder="Correo" name="Email" />
				<span class="help-inline">{{ form.Email.errors.as_text }}</span>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="text" placeholder="Contraseña" name="password" />
				<span class="help-inline">{{ form.password.errors.as_text }}</span>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="text" placeholder="Confirmar Contraseña" name="password2"/>
				<span class="help-inline">{{ form.password2.errors.as_text }}</span>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="text" placeholder="Nombre de tu Tienda" name="tienda" />
				<span class="help-inline">{{ form.tienda.errors.as_text }}</span>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="text" placeholder="Dominio" />
				<span class="help-inline">{{ form.dominio.errors.as_text }}</span>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-primary" value="Registrar"/>
			</div>
		</div>
	</form>
</div>
{% endif %}
{% endblock %}
