{% extends 'sitio.html' %}
{% block title %} Dashboard de {{nombre_tienda}}{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid">
		<div class="span3" id="menu">
			<ul class="nav nav-list">
	  			<li class="nav-header">Productos</li>
	  			<li ><a href="#">Productos</a></li>
	  			<li ><a href="#">Categorias</a></li>
	  			<li class="nav-header">Configuracion</li>
	  			<li><a href="#">Herramienta de diseño</a></li>  
	  			<li><a href="#">Configuracion</a></li>  
	  			
			</ul>
		</div>
		<div class="span9" id="contenido">
			<div>
				<p>Seleccione el color de fondo de su aplicacion</p>
				
			</div>	
		</div>
	</div>
	</div>

{% endblock %}
