{% extends 'ventas/dashboard.html' %}
{% block title %} Listado de Ordenes {% endblock %}

{% block content %}
		<div class="span9" id="contenido">
			<h2>Ordenes</h2>

			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Fecha</th>
						<th>Descripcion</th>
						<th>Forma de pago</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>10/04/2013</td>
						<td>Playera verde</td>
						<td>Efectivo</td>
						<td>Pendinte</td>
					</tr>
					<tr>
						<td>1</td>
						<td>10/04/2013</td>
						<td>Playera verde</td>
						<td>Efectivo</td>
						<td>Pendinte</td>
					</tr><tr>
						<td>1</td>
						<td>10/04/2013</td>
						<td>Playera verde</td>
						<td>Efectivo</td>
						<td>Pendinte</td>
					</tr>
				</tbody>
			</table>
	</div>
{% endblock %}
