{% extends 'ventas/dashboard.html' %}
{% block title %} Productos {% endblock %}

{% load my_tags %}

{% block content %}


	<div class="container">
		
		<div class="row">
			<div class="col-md-7">
				<h3>Productos</h3>
				
	        </div>
	        <div class="col-md-4">
				<a href="{% url "vista_agregar_producto"%}" class="btn btn-info">Nuevo Producto</a>
				<div class="input-group custom-search-form">
	              <input type="text" class="form-control">
	              <span class="input-group-btn">
	              <button class="btn btn-default" type="button">
	              <span class="glyphicon glyphicon-search"></span>
	             </button>
	             </span>
	             </div><!-- /input-group -->
	            
			</div>
		</div>
			
			{% include "ventas/tags/search_form.html" %}
		<div class="row" id"hola">
			<div class="col-md-12">
				<table class="table table-condensed">
				<thead>
					<th>Nombre</th>
					<th>Cantidad</th>
					<th>Descripcion</th>
					<th>Acciones</th>
				</thead>
				{% if productos %}
					{% for p in productos %}
						<tr>
							<td>{{p.nombre}}</td>
							<td>{{p.stock}}</td>
							<td>{{p.descripcion}}</td>
							<td>
								<a href="#" class="btn"><i class="icon-edit"></i> <strong>Editar</strong></a>
								<a href="#" class="btn"><i class="icon-trash"></i> <strong>Borrar</strong></a>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<h2>No hay productos</h2>
				{% endif %} 
				</table>
				<p>Cantidad: <strong>{{productos.count}}</strong></p>
				<ul class="pagination">
				  <li><a href="#">&laquo;</a></li>
				  <li><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
				</ul>
				<div class="pagination">
				    <span class="step-links">
				        {% if productos.has_previous %}
				            <a href="?pagina={{ productos.previous_page_number }}">previous</a>
				        {% endif %}

				        <span class="current">
				            Page {{ productos.number }} of {{ productos.paginator.num_pages }}.
				        </span>

				        {% if productos.has_next %}
				            <a href="?pagina={{ productos.next_page_number }}">next</a>
				        {% endif %}
				    </span>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
