<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %} Super Tienda {% endblock %}</title>
</head>
<body>
	<header>
		<h1>{{nombre}}</h1>
		<img src="/media/images/tienda.jpg"/>
		<NAV>
			<a href="{% url "vista_principal" %}"> Inicio</a>
			<a href="{% url "vista_productos"%}"> Productos</a>
			<a href="{% url "vista_contacto"%}"> Contacto</a>
			<a href="{% url "vista_about"%}"> Acerca de...</a>
			{% if user.is_authenticated %}
			<a href="{% url "vista_logout"%}">Cerrar Secion</a>
			{% else %}
			<a href="{% url "vista_login" %}"> Iniciar Secion</a>
			{% endif %}
		</NAV>	
	</header>
	<section>
		{% block content %}
		{% endblock %}
	</section>
</body>
</html>