{% extends 'sitio.html' %}
{% block title %} Tutienda{% endblock %}

{% block content %}



			<div class="bg"></div>
			<div class="jumbotron text-right" id="intro">
				<div class="container">
					
						<h1><b>Tu tienda </b>en 30 minutos</h1>
						<p>solo nesesitas ganas de vender</p>
						<p><a href="/registro" role="button" class="btn btn-lg btn-success">Registro</a></p>
					
				</div>
			</div>
			<!-- termina intro-->
			<div class="jumbotron" style="background-color: Blue">
				<h2 class="text-center">Como Funciona</h2>
				<div class="container-fluid">
					<div class="row row-centered">
						<div class="col-xs-4 col-centered" style="background-color: red">1</div>
						<div class="col-xs-4 col-centered" style="background-color: black">2</div>
						<div class="col-xs-4 col-centered" style="background-color: green">3</div>
					</div>

				</div>
			</div>

			<div class="container" id="planes">
				<div class="container">
					<h1 class="center">Nuestros Planes</h1>
				    <div class="row">
				        <div class="col-xs-12 col-md-3">
				            <div class="panel panel-primary">
				                <div class="panel-heading">
				                    <h3 class="panel-title">
				                        Bronze</h3>
				                </div>
				                <div class="panel-body">
				                    <div class="the-price">
				                        <h1>
				                            $250<span class="subscript">/Mes</span></h1>
				                        <small>1 mes de prueba GRATIS</small>
				                    </div>
				                    <table class="table">
				                        <tr>
				                            <td>
				                                50 Productos
				                            </td>
				                        </tr>
				                        <tr class="active">
				                            <td>
				                                4 Imagenes
				                            </td>
				                        </tr>
				                        <tr>
				                            <td>
				                                Cero Publicidad
				                            </td>
				                        </tr>
				                        <tr>
				                            <td>
				                                Optimizacion para moviles
				                            </td>
				                        </tr>
				                    </table>
				                </div>
				                <div class="panel-footer">
				                    <a href="/registro" class="btn btn-success" role="button">Comienza Ya..</a>
				                    1 mes GRATIS</div>
				            </div>
				        </div>
				        <div class="col-xs-12 col-md-3">
				            <div class="panel panel-success">
				                <div class="cnrflash">
				                    <div class="cnrflash-inner">
				                        <span class="cnrflash-label">MAS
				                            <br>
				                            POPULAR</span>
				                    </div>
				                </div>
				                <div class="panel-heading">
				                    <h3 class="panel-title">
				                        Plata</h3>
				                </div>
				                <div class="panel-body">
				                    <div class="the-price">
				                        <h1>
				                            $450<span class="subscript">/mes</span></h1>
				                        <small>1 mes de prueba GRATIS</small>
				                    </div>
				                     <table class="table">
				                        <tr>
				                            <td>
				                                150 Productos
				                            </td>
				                        </tr>
				                        <tr class="active">
				                            <td>
				                                10 Imagenes
				                            </td>
				                        </tr>
				                        <tr>
				                            <td>
				                                Cero Publicidad
				                            </td>
				                        </tr>
				                        <tr>
				                            <td>
				                                Optimizacion para moviles
				                            </td>
				                        </tr>
				                    </table>
				                </div>
				                <div class="panel-footer">
				                    <a href="/registro" class="btn btn-success" role="button">Sign Up</a>
				                    1 month FREE trial</div>
				            </div>
				        </div>
				        <div class="col-xs-12 col-md-3">
				            <div class="panel panel-info">
				                <div class="panel-heading">
				                    <h3 class="panel-title">
				                        Gold</h3>
				                </div>
				                <div class="panel-body">
				                    <div class="the-price">
				                        <h1>
				                            $750<span class="subscript">/mes</span></h1>
				                        <small>1 mes de prueba GRATIS</small>
				                    </div>
				                     <table class="table">
				                        <tr>
				                            <td>
				                                300 Productos
				                            </td>
				                        </tr>
				                        <tr class="active">
				                            <td>
				                                20 Imagenes
				                            </td>
				                        </tr>
				                        <tr>
				                            <td>
				                                Cero Publicidad
				                            </td>
				                        </tr>
				                        <tr>
				                            <td>
				                                Optimizacion para moviles
				                            </td>
				                        </tr>
				                    </table>
				                </div>
				                <div class="panel-footer">
				                    <a href="/registro" class="btn btn-success" role="button">Sign Up</a> 1 month FREE trial</div>
				            </div>
				        </div>
				    </div>
				</div>




			</div>
			


			<!-- Comienza about-->
			<div class="container-fuild" id="about">
				<div class="container">
					<ul class="thumbnails">
						<li class="span4">
							<div class="thumbnail">
							<h2>Aqui va todo el about</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius purus quis pulvinar auctor. In hac habitasse platea dictumst. Mauris blandit eget magna consectetur varius. Nulla et luctus velit, sed accumsan diam. In sit amet congue metus.</p>
							</div>
						</li>
						<li class="span4">
							<div class="thumbnail">
							<h2>Aqui va todo el about</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius purus quis pulvinar auctor. In hac habitasse platea dictumst. Mauris blandit eget magna consectetur varius. Nulla et luctus velit, sed accumsan diam. In sit amet congue metus.</p>
							</div>
						</li>
						<li class="span4">
							<div class="thumbnail">
							<h2>Aqui va todo el about</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius purus quis pulvinar auctor. In hac habitasse platea dictumst. Mauris blandit eget magna consectetur varius. Nulla et luctus velit, sed accumsan diam. In sit amet congue metus.</p>
							</div>
						</li>
					

					</ul>
				</div>
			</div>
			<!-- termina about-->
			<!-- Comienza contacto-->
			<div class="container-fuild" id="contacto">
				<div class="container">
					<div class="row span6 center">
					<h2>Aqui va todo el contacto</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius purus quis pulvinar auctor. In hac habitasse platea dictumst. Mauris blandit eget magna consectetur varius. Nulla et luctus velit, sed accumsan diam. In sit amet congue metus. Donec fermentum dapibus urna nec pulvinar. Aliquam hendrerit, tellus a suscipit mollis, nibh dolor consequat augue, sed cursus lorem massa non nulla. Vivamus viverra, est eu lacinia elementum, purus sapien consectetur sapien, eget mollis ante orci a nulla. Praesent massa nisl, lobortis quis tincidunt et, vestibulum in mauris. Mauris venenatis gravida augue non pharetra. In hac habitasse platea dictumst. Pellentesque dictum diam eu lectus aliquet blandit.</p>
					</div>
				</div>
			</div>
			<!-- termina contacto-->

			<div class="container1"></div>
			<div class="container2 zigzag"></div>

{% endblock %}