{% extends 'sitio.html' %}
{% block title %} Tutienda{% endblock %}

{% block content %}



			<div class="container-fluid" id="intro">
				<div class="container">
					<div class="row span6 center">
						<h1>Servicoo de prueba por <b>30 minutos</b></h1>
						<p>Para comenzar a utilizar nuestro servicio de prueba gratuito tienes que registrarte</p>
						<a href="/registro" role="button" class="btn btn-large btn-success">Registro</a>
					</div>
				</div>
			</div>
			<!-- termina intro-->
			<!-- Comienza about-->
			<div class="container-fuild" id="about">
				<div class="container">
					<ul class="thumbnails">
						<li class="span4">
							<div class="thumbnail">
							<h2>Aqui va todo el about</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius purus quis pulvinar auctor. In hac habitasse platea dictumst. Mauris blandit eget magna consectetur varius. Nulla et luctus velit, sed accumsan diam. In sit amet congue metus.</p>
							</div>
						</li>
						<li class="span4">
							<div class="thumbnail">
							<h2>Aqui va todo el about</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius purus quis pulvinar auctor. In hac habitasse platea dictumst. Mauris blandit eget magna consectetur varius. Nulla et luctus velit, sed accumsan diam. In sit amet congue metus.</p>
							</div>
						</li>
						<li class="span4">
							<div class="thumbnail">
							<h2>Aqui va todo el about</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius purus quis pulvinar auctor. In hac habitasse platea dictumst. Mauris blandit eget magna consectetur varius. Nulla et luctus velit, sed accumsan diam. In sit amet congue metus.</p>
							</div>
						</li>
					

					</ul>
				</div>
			</div>
			<!-- termina about-->
			<!-- Comienza contacto-->
			<div class="container-fuild" id="contacto">
				<div class="container">
					<div class="row span6 center">
					<h2>Aqui va todo el contacto</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius purus quis pulvinar auctor. In hac habitasse platea dictumst. Mauris blandit eget magna consectetur varius. Nulla et luctus velit, sed accumsan diam. In sit amet congue metus. Donec fermentum dapibus urna nec pulvinar. Aliquam hendrerit, tellus a suscipit mollis, nibh dolor consequat augue, sed cursus lorem massa non nulla. Vivamus viverra, est eu lacinia elementum, purus sapien consectetur sapien, eget mollis ante orci a nulla. Praesent massa nisl, lobortis quis tincidunt et, vestibulum in mauris. Mauris venenatis gravida augue non pharetra. In hac habitasse platea dictumst. Pellentesque dictum diam eu lectus aliquet blandit.</p>
					</div>
				</div>
			</div>
			<!-- termina contacto-->
{% endblock %}