

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*.navbar-fixed-top {
	border-top: 3px solid black;
}

.navbar-inner {
	background:rgba(13,13,13,0.7);
	
}

.navbar-inner a {
	color:rgb(175, 175, 175) !important;
	text-shadow:0 1px 0 rgb(2, 1, 1) !important;
}

.center {
	float: none;
	margin: 0 auto;
}

#intro {
	margin-top: 100px;
	text-align: center;
	min-height: 450px;
	padding: 0 0 50px;
}

#about {
	min-height: 200px;
	padding: 0 0 50px;
}

#registro form {
	border-radius:3px; 
	-moz-border-radius:3px; /* Firefox 
	-webkit-border-radius:3px; /* Safari y Chrome 

	/* Otros estilos 
	border:1px solid #333;
	background:#eee;
	width:100%;
	padding:5px;
}

#barra
{
	background-color: #848484;
}

#itemproyecto
{
	border: 1px solid #e3e3e3;
	border-radius: 15px;
	margin: 5px;
	background-color: #f5f5f5;
}

*/
.menu-dashboard
{
	background-color: #525447;
}





body
{
    margin-top: 20px;
    padding-top: 60px;
}
.panel
{
    text-align: center;
}
.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.panel-body
{
    padding: 0px;
    text-align: center;
}

.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 25px;
}

/* CSS-only ribbon styles    */
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}



.bg {
  background: url('/static/img/ind.jpg') no-repeat right top;
  position: fixed;
  width: 100%;
  height: 650px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

#intro {
  height: 650px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  padding-bottom: 0;
  margin-bottom: 0;
}


.container1 {
  width: 100%;
  height: 200px;
  background: #E2E2E2;
}
.zigzag {
  position: relative;
  width: 100%;
  height: 200px;
}
.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}
.container2 {
  background: #222;
  padding: 100px 0 60px 0;
}
.container2:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      #222 33.333%, #222 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #222 33.333%, #222 66.667%,
      transparent 66.667%
    );
  background-size: 20px 40px;
}

.productbox
{
  border:solid black;
  margin: 5px;
}

.footertienda
{
  background-color: darkgray;
  padding: 100px 0 60px 0;
}